[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.18.1"
opencv-contrib-python = "*"
python-speech-features = "*"
scenedetect = ">=0.6.1"
scipy = ">=1.2.1"
torch = ">=1.4.0"
torchvision = ">=0.5.0"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
ipykernel = "*"
isort = "*"
pipfile-sort = "*"

[requires]
python_version = "3.13"
